*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(250, 240, 226);
}

.tituloCabeçalho{
    text-align: center;
    margin-top: 35px;
}

.listaStatus{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

.btn-status{
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);  /* 0 → sombra não vai nem pra esquerda nem pra direita
    6px dá sensação de que o elemento está elevado da página
    15px seria a sombra 
    rgba = cor da sombra( 0 = preto   0.4 = opacidade )  */
    transition: transform 0.35s ease, box-shadow 0.35s ease;

}

.btn-status:hover{
    transform: translateY(-2px); /* quanto o botão levanta pra cima*/
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);

}



/* BOTÃO ADICIONAR LEAD */
.div-botaoAddLead{
    display: flex;
    justify-content: flex-end;
    padding: 40px 60px 0 60px;
}
.btn-adicionarLead{
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;

    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-adicionarLead:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}





.listaCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    position: relative;
}






.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.statusCard{
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #eee;
}








.origemCard{
    margin-top: 10px;
    display: block;
    padding-bottom: 10px;
}
.emailCard{
    display: block;
    padding-bottom: 10px;
}
.telefoneCard{
    display: block;
    padding-bottom: 10px;
}
.dataCard{
    display: block;
    padding-bottom: 10px;
}




.cardAcoes{
    position: absolute; /* tira do fluxo normal*/
    bottom: 15px; /*cola embaixo*/
    right: 15px; /*cola na direita*/


    display: flex;
    gap: 10px;
}


